.drfront div, .drfront span, .drfront applet, .drfront object, .drfront iframe,
.drfront h1, .drfront h2, .drfront h3, .drfront h4, .drfront h5, .drfront h6, .drfront p, .drfront blockquote, .drfront pre,
.drfront a, .drfront abbr, .drfront acronym, .drfront address, .drfront big, .drfront cite, .drfront code,
.drfront del, .drfront dfn, .drfront em, .drfront font, .drfront img, .drfront ins, .drfront kbd, .drfront q, .drfront s, .drfront samp,
.drfront small, .drfront strike, .drfront strong, .drfront sub, .drfront sup, .drfront tt, .drfront var,
.drfront dl, .drfront dt, .drfront dd, .drfront ol, .drfront ul, .drfront li,
.drfront fieldset, .drfront form, .drfront label, .drfront legend,
.drfront table, .drfront caption, .drfront tbody, .drfront tfoot, .drfront thead, .drfront tr, .drfront th, .drfront
td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}.drfront :focus{outline:0}.drfront{line-height:1;color:black}.drfront ol, .drfront
ul{list-style:none}.drfront
table{border-collapse:separate;border-spacing:0}.drfront caption, .drfront th, .drfront
td{text-align:left;font-weight:normal}.drfront h1, .drfront h2, .drfront h3, .drfront h4, .drfront h5, .drfront h6, .drfront
strong{font-weight:bold}.drfront
em{font-style:italic}.drfront{width:400px}.drfront .article-extract{position:relative;overflow:hidden;position:relative;display:inline}.drfront .article-extract-full{width:400px}.drfront .article-extract.left,
.drfront .df-img-container.left{float:left}.drfront .article-extract.right,
.drfront .df-img-container.right{float:right}.drfront .df-container,
.drfront .df-auto-container{clear:both;float:left;width:100%}.drfront .article-header-inner,
.drfront .df-auto-container-header-inner,
.drfront .df-container-header-inner{display:block}.drfront .df-container-footer,
.drfront .df-auto-container-footer{clear:both}.drfront .df-img-container{position:relative}.drfront .df-img-container a,
.drfront .df-img-container a:hover{border:0;text-decoration:none;cursor:pointer}.drfront .df-img-container,
.drfront .df-img-container-inner{display:block}.drfront .df-img-container .df-img-layer{display:none}.drfront .df-img-container .df-img-layer
a{display:block;width:100%;height:100%}.drfront .df-img-container.left .article-image,
.drfront .df-img-container.right .article-image{display:inline}.drfront
img{border:none;display:inline;vertical-align:middle}.drfront .article-image{vertical-align:middle}.drfront
.clearer{clear:both}.drfront .df-empty{display:none}#front-56 .article-content span.df-forecolor
*{color:inherit !important;color:expression(this.parentNode.currentStyle.color) !important}#front-56{font:14px Arial,Helvetica,sans-serif;width:960px;margin:0
10px 10px 10px}#front-56 .article-extract{margin:0
10px}#front-56 .article-content{}#front-56 .article-extract.df-right-in-row{}#front-56 .article-extract-full{width:100%}#front-56 .article-extract-two-thirds{width:66.66%}#front-56 .article-extract-half{width:50%}#front-56 .article-extract-one-third{width:33.33333%}#front-56 .article-extract-one-fourth{width:25%}#front-56 .df-img-container.left{}#front-56 .df-img-container.right{}#front-56 .article-extract.img-brd-0 .df-img-container-inner{padding:0}#front-56 .article-extract.img-brd-1 .df-img-container-inner{}#front-56 .article-extract.img-brd-2 .df-img-container-inner{}#front-56
a{text-decoration:none}#front-56
h3{margin:6px
0;font-size:2em}#front-56 h3,
#front-56 h3
a{color:#000}#front-56 .article-extract.bg-default{border:none}#front-56 .article-extract.bg-border{}#front-56 .df-container-skin-default{}